.lobbyGame {
  display: flex;
  justify-content: space-around;
}

.gamePlayers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gameRow:hover() {
  cursor: pointer;
}
