@import "./square/styles.module.scss";

.board {
  width: calc(11 * $squareSize);
  height: calc(11 * $squareSize);
  display: grid;
  grid-template-areas:
    "empty static-row"
    "static-column play-area";
}
  
.emptySquare {
  grid-area: empty;
}
.staticRow {
  grid-area: static-row;
}
.staticColumn {
  grid-area: static-column;
}
.playArea {
  grid-area: play-area;
  display: grid;
  grid-template-columns: repeat(10, auto);
}
